* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(img/copenhagen-denmark.jpg);
}

ul {
    list-style: none;
    display: flex;
}

a {
    color: white;
    text-decoration: none;
}

#container {
    width: 100%;
    height: 100vh;
    position: relative;
}

/* ----- navbar----- */

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.50);
    z-index: 5;
}

nav .logo {
    margin-top: 4px;
    display: flex;
}

nav .logo p {
    color: white;
    margin-top: 15px;
    margin-left: 10px;
    transition: 0.5s;
}

.logo p:hover {
    color: goldenrod;
}

nav .logo img {
    width: 50px;
}

nav .center a,
nav .right-side a,
.btn-read a {
    display: inline-block;
    padding: 19px;
    transition: all 1s;
}

nav .center a:hover,
nav .right-side a:hover,
.btn-read a:hover {
    border: 1px solid goldenrod;
    border-radius: 100px;
    color: goldenrod;
}

@media screen and (max-width:770px) {
    #container {
        margin-top: 0;
    }

    nav{
        position: unset;
        display: block;
        text-align: center;
    }
    nav .logo{
        justify-content: center;
    }
}

/*-----home-----*/

#home {
    margin: 0 50px 0 50px;
    color: goldenrod;
}

.main{
    padding-top: 50px;
}

.main h1 {
    font-family: 'Dancing Script', cursive;
    margin-top: 200px;
    font-size: 90px;
    letter-spacing: 15px;
    text-align: center;
}

.main p {
    font-family: 'Raleway', sans-serif;
    padding-top: 30px;
    font-size: 20px;
    text-align: center;
}

.btn {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.btn a {
    position: relative;
    border: 1px solid white;
    padding: 20px;
    border-radius: 100px;
    transition: 0.5s;
    z-index: 1;
    color: goldenrod;
}

.main .btn a span {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 100px;
    transition: 0.5s;
    z-index: -1;
}

.btn a:hover span {
    border: 1px solid white;
    width: 100%;
}

@media screen and (max-width:770px) {

    .logo {
        display: inline-block;
        text-align: center;
    }

    .center ul,
    .right-side ul {
        display: block;
    }

    .center ul a,
    .right-side ul a {
        display: block;
    }

    .main h1 {
        margin-top: 30px;
        font-size: 44px;
    }

    .main p {
        font-size: 16px;
    }
    #home{
        margin: 0;
    }

}

/*-----places-----*/

#places {
    width: 100%;
    background: #efefef;
}

.places {
    padding: 50px;
    text-align: center;
}

.places h1 {
    font-family: 'Dancing Script', cursive;
    padding-bottom: 50px;
    font-size: 60px;
}

.articles {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.article {
    flex-basis: 48%;
    text-align: center;
    position: relative;
}

.article img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 25px;
    opacity: 0;
    transition: 1s;
}

.explain {
    position: absolute;
    top: 40%;
    color: white;
    opacity: 0;
    transition: 1s;
}

.explain h3 {
    display: inline-block;
    border-bottom: 1px solid white;
}

.explain p {
    margin: 0 50px;
}

.article:hover .overlay {
    opacity: 1;
}

.article:hover .explain {
    opacity: 1;
}

.explain p a {
    color: turquoise;
}

.btn-read {
    margin: 50px 0;
}

.btn-read a {
    color: black;
    border: 1px solid black;
}

@media screen and (max-width:770px) {
    .article {
        flex-basis: 100%;
        margin: 20px 0;
    }
    
}

/*-----aboutus-----*/

#aboutus {
    height: 100%;
    background: white;
}

.aboutus {
    padding: 50px;
    text-align: center;
}

.aboutus h1 {
    font-family: 'Dancing Script', cursive;
    padding-bottom: 50px;
    font-size: 60px;
}

.about{
    display: flex;
}


.about .left{
    flex-basis: 48%;
}
.left img{
    width: 80%;
    padding-bottom: 20px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 100px;
}

.line{
    display: flex;
    background-color: rgb(141, 133, 96,0.1);
    border-radius: 10px;
    margin-bottom: 8%;
}

.left-line{
    flex-basis: 10%;
    text-align: left;
}

.left-line .fas{
    color: goldenrod;
    font-size: 40px;
    padding: 17px;
    border: 1px solid goldenrod;
    border-radius: 10px;
}
.left-line .far{
    color: goldenrod;
    font-size: 40px;
    padding: 17px 22px 17px 22px;
    border: 1px solid goldenrod;
    border-radius: 10px;
}

.right-line{
    flex-basis: 90%;
    text-align: left;
    padding: 10px 20px;
}

.right-line h2{
    font-size: 20px;
}

.right-line p{
    font-size: 15px;
}


.about .right{
    flex-basis: 48%;
}

@media screen and (max-width:1000px) {
    .about {
        display: block;
    }
    .line{
        margin-top: 30px;
    }
}

/*-----footer-----*/

#footer{
    height: 90%;
    margin-top: 80px;
    background-color: #efefef;
    text-align: center;
}

.contact{
    margin: 5% 10%;
}


.footer span h1{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    padding-top: 60px;
}

.footer span p{
    padding-top: 20px;
    font-size: 50px;
    font-weight: bold;
    color: goldenrod;
}

.contact{
    display: flex;
    align-items: center;
}

.contact .left-side{
    flex-basis: 48%;
    text-align: left;
}

.contact .right-side{
    flex-basis: 48%;
    text-align: right;
}

.contact .left-side p, .right-side p{
    padding: 10px 0;
    letter-spacing: 0.2px;
}

.contact .left-side .far{
    color: goldenrod;
    padding-right: 10px;
}

.contact .right-side .fas{
    color: goldenrod;
    padding-left: 10px;
}

.social{
    display: inline-block;
    height: 30px;
    text-align: center;
}

.social ul{
    align-content: center;
}

.social li{
    margin: 0 20px;
}

.social a .fab{
    color: goldenrod;
    border: 1px solid goldenrod;
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    transition: 0.5s;
}


.social a .fab:hover{
    border: 1px solid aqua;
    border-radius: 25px;
    color: aqua;
}

.footer small p{
    margin-top: 30px;
    font-weight: bold;
    font-style: italic;
}

@media screen and (max-width:770px) {
    .contact{
        display: block;
    }
}

@media screen and (max-width:1000px) {
    .contact{
        display: block;
    }
    #footer{
        margin-top: 900px;
    }
}